body {
  background: rgb(0, 30, 0);
  /*background-color: darkgreen;
  background-image: url('../img/vecteezy_felt-dark-green-soft-rough-textile-material-background_15234513_921.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;*/
}

.diceSelectorDiv {
  color: white;
  font-size: 1.5em;
  margin: 10px auto;
}
.diceSelectorDiv label {
  display: block;
}

.buttonScoreZone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: linear-gradient(153deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 81%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.buttonScoreZone .diceSelectorDiv {
  grid-area: 1/1/2/2;
  /*display: grid;*/
  text-align: left;
  /*align-items: start;
  justify-items: left;*/
  color: white;
  font-family: "Montserrat", sans-serif;
}
.buttonScoreZone .diceSelectorDiv img {
  width: 26px;
  display: inline-block;
}
.buttonScoreZone .diceSelectorDiv .addDie, .buttonScoreZone .diceSelectorDiv .removeDie {
  border: 1px solid white;
  display: inline-flex;
  align-items: stretch;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  display: inline-block;
  position: relative;
}
.buttonScoreZone .diceSelectorDiv .addDiePlus, .buttonScoreZone .diceSelectorDiv .removeDieMinus {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.buttonScoreZone .buttonContainer {
  grid-area: 1/2/2/3;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.buttonScoreZone .buttonContainer button {
  position: fixed;
  /*top: 0;*/
  /*left: 0;*/
  bottom: 0;
  width: 80px;
  height: 80px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 255, 0, 0.65);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgb(0, 128, 53);
  border-radius: 50%;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  cursor: pointer;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}
.buttonScoreZone .buttonContainer button:hover {
  letter-spacing: 3px;
}
.buttonScoreZone .buttonContainer button:hover::before {
  transform: skewX(45deg) translateX(50px);
}
.buttonScoreZone .buttonContainer button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 255, 0, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.buttonScoreZone .rollTotalDiv {
  font-family: "Montserrat", sans-serif;
  grid-area: 1/3/2/4;
  text-align: right;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonScoreZone .rollTotalDiv .totalRollDesc .totalRoll {
  font-weight: bold;
}

.gameBoard {
  background: rgb(0, 30, 0);
  background: linear-gradient(transparent, rgb(0, 30, 0)), url("../img/vecteezy_felt-dark-green-soft-rough-textile-material-background_15234513_921.jpg") center/cover no-repeat;
  position: relative;
  height: 85vh;
  width: 100vw;
  perspective: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.die {
  transition: all 318ms;
  position: relative;
  display: block;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  margin: 26px;
}
.die .sideOne,
.die .sideTwo,
.die .sideThree,
.die .sideFour,
.die .sideFive,
.die .sideSix {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(195, 195, 195) 100%);
  border: 1px solid rgb(200, 200, 200);
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.die.show-front {
  transform: translateZ(-50px) rotateY(0deg);
}
.die.show-right {
  transform: translateZ(-50px) rotateY(-90deg);
}
.die.show-back {
  transform: translateZ(-50px) rotateY(-180deg);
}
.die.show-left {
  transform: translateZ(-50px) rotateY(90deg);
}
.die.show-top {
  transform: translateZ(-50px) rotateX(-90deg);
}
.die.show-bottom {
  transform: translateZ(-50px) rotateX(90deg);
}
.die .front {
  transform: rotateY(0deg) translateZ(50px);
}
.die .right {
  transform: rotateY(90deg) translateZ(50px);
}
.die .back {
  transform: rotateY(180deg) translateZ(50px);
}
.die .left {
  transform: rotateY(-90deg) translateZ(50px);
}
.die .top {
  transform: rotateX(90deg) translateZ(50px);
}
.die .bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
.die .sideOne .dieDot {
  border-radius: 50%;
  top: 50%;
  left: 50%;
}
.die .sideTwo .dieDot {
  border-radius: 50%;
}
.die .sideTwo .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.die .sideTwo .dieDot:nth-child(2) {
  top: 75%;
  left: 75%;
}
.die .sideThree .dieDot {
  border-radius: 50%;
}
.die .sideThree .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.die .sideThree .dieDot:nth-child(2) {
  top: 50%;
  left: 50%;
}
.die .sideThree .dieDot:nth-child(3) {
  top: 75%;
  left: 75%;
}
.die .sideFour .dieDot {
  border-radius: 50%;
}
.die .sideFour .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.die .sideFour .dieDot:nth-child(2) {
  top: 25%;
  left: 75%;
}
.die .sideFour .dieDot:nth-child(3) {
  top: 75%;
  left: 25%;
}
.die .sideFour .dieDot:nth-child(4) {
  top: 75%;
  left: 75%;
}
.die .sideFive .dieDot {
  border-radius: 50%;
}
.die .sideFive .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.die .sideFive .dieDot:nth-child(2) {
  top: 25%;
  left: 75%;
}
.die .sideFive .dieDot:nth-child(3) {
  top: 75%;
  left: 25%;
}
.die .sideFive .dieDot:nth-child(4) {
  top: 75%;
  left: 75%;
}
.die .sideFive .dieDot:nth-child(5) {
  top: 50%;
  left: 50%;
}
.die .sideSix .dieDot {
  border-radius: 50%;
}
.die .sideSix .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.die .sideSix .dieDot:nth-child(2) {
  top: 50%;
  left: 25%;
}
.die .sideSix .dieDot:nth-child(3) {
  top: 75%;
  left: 25%;
}
.die .sideSix .dieDot:nth-child(4) {
  top: 25%;
  left: 75%;
}
.die .sideSix .dieDot:nth-child(5) {
  top: 50%;
  left: 75%;
}
.die .sideSix .dieDot:nth-child(6) {
  top: 75%;
  left: 75%;
}

.dieDot {
  background-color: black;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
}

.hidden {
  display: none;
}

.dieDot {
  /*animation-duration: .5s;
  animation-name: blurIn;
  animation-iteration-count: 1;*/
}

@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes dropIn {
  from {
    transform: scale(2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}