.gameBoard {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: darkgreen;
  background-image: url("../img/vecteezy_felt-dark-green-soft-rough-textile-material-background_15234513_921.jpg");
  background-position: center center;
  background-size: cover;
  perspective: 600px;
}
.gameBoard button {
  font-size: 2em;
  cursor: pointer;
}
.gameBoard button.roll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.8);
  border: none;
}

.dieOne {
  position: relative;
  display: block;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  /*background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 35%, rgba(255,255,255,1) 100%);    */
  transform-style: preserve-3d;
  transition: transform 0.4s;
  transform: translateZ(-100px);
}
.dieOne .sideOne,
.dieOne .sideTwo,
.dieOne .sideThree,
.dieOne .sideFour,
.dieOne .sideFive,
.dieOne .sideSix {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 35%, rgb(255, 255, 255) 100%);
  border: 1px solid rgb(220, 220, 220);
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.dieOne.show-front {
  transform: translateZ(-100px) rotateY(0deg);
}
.dieOne.show-right {
  transform: translateZ(-100px) rotateY(-90deg);
}
.dieOne.show-back {
  transform: translateZ(-100px) rotateY(-180deg);
}
.dieOne.show-left {
  transform: translateZ(-100px) rotateY(90deg);
}
.dieOne.show-top {
  transform: translateZ(-100px) rotateX(-90deg);
}
.dieOne.show-bottom {
  transform: translateZ(-100px) rotateX(90deg);
}
.dieOne .front {
  transform: rotateY(0deg) translateZ(100px);
}
.dieOne .right {
  transform: rotateY(90deg) translateZ(100px);
}
.dieOne .back {
  transform: rotateY(180deg) translateZ(100px);
}
.dieOne .left {
  transform: rotateY(-90deg) translateZ(100px);
}
.dieOne .top {
  transform: rotateX(90deg) translateZ(100px);
}
.dieOne .bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
.dieOne .sideOne .dieDot {
  border-radius: 50%;
  top: 50%;
  left: 50%;
}
.dieOne .sideTwo .dieDot {
  border-radius: 50%;
}
.dieOne .sideTwo .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.dieOne .sideTwo .dieDot:nth-child(2) {
  top: 75%;
  left: 75%;
}
.dieOne .sideThree .dieDot {
  border-radius: 50%;
}
.dieOne .sideThree .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.dieOne .sideThree .dieDot:nth-child(2) {
  top: 50%;
  left: 50%;
}
.dieOne .sideThree .dieDot:nth-child(3) {
  top: 75%;
  left: 75%;
}
.dieOne .sideFour .dieDot {
  border-radius: 50%;
}
.dieOne .sideFour .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.dieOne .sideFour .dieDot:nth-child(2) {
  top: 25%;
  left: 75%;
}
.dieOne .sideFour .dieDot:nth-child(3) {
  top: 75%;
  left: 25%;
}
.dieOne .sideFour .dieDot:nth-child(4) {
  top: 75%;
  left: 75%;
}
.dieOne .sideFive .dieDot {
  border-radius: 50%;
}
.dieOne .sideFive .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.dieOne .sideFive .dieDot:nth-child(2) {
  top: 25%;
  left: 75%;
}
.dieOne .sideFive .dieDot:nth-child(3) {
  top: 75%;
  left: 25%;
}
.dieOne .sideFive .dieDot:nth-child(4) {
  top: 75%;
  left: 75%;
}
.dieOne .sideFive .dieDot:nth-child(5) {
  top: 50%;
  left: 50%;
}
.dieOne .sideSix .dieDot {
  border-radius: 50%;
}
.dieOne .sideSix .dieDot:nth-child(1) {
  top: 25%;
  left: 25%;
}
.dieOne .sideSix .dieDot:nth-child(2) {
  top: 50%;
  left: 25%;
}
.dieOne .sideSix .dieDot:nth-child(3) {
  top: 75%;
  left: 25%;
}
.dieOne .sideSix .dieDot:nth-child(4) {
  top: 25%;
  left: 75%;
}
.dieOne .sideSix .dieDot:nth-child(5) {
  top: 50%;
  left: 75%;
}
.dieOne .sideSix .dieDot:nth-child(6) {
  top: 75%;
  left: 75%;
}

.dieDot {
  background-color: black;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
}

.hidden {
  display: none;
}

.dieDot {
  animation-duration: 0.5s;
  animation-name: blurIn;
  animation-iteration-count: 1;
}

@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}