.dieDot {
  /*animation-duration: .5s;
  animation-name: blurIn;
  animation-iteration-count: 1;*/
}

@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes dropIn {
  from {
    transform: scale(2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}