.oneDie {
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    border: 1px solid $lightgrey; 
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 35%, rgba(255,255,255,1) 100%);
    cursor: pointer;
    &.oneDot {
        //background-color: red;
        .dieDot {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            top: 50%;
            left: 50%;
        }
    }
    &.twoDots {
        //background-color: blue;
        .dieDot {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 75%;
                left: 75%;
            }
        }
    }
    &.threeDots {
        //background-color: pink;
        .dieDot {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 50%;
                left: 50%;
            }
            &:nth-child(3) {
                top: 75%;
                left: 75%;
            }
        }
    }
    &.fourDots {
        //background-color: purple;
        .dieDot {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 25%;
                left: 75%;
            }
            &:nth-child(3) {
                top: 75%;
                left: 25%;
            }
            &:nth-child(4) {
                top: 75%;
                left: 75%;
            }
        }
    }
    &.fiveDots {
        //background-color: purple;
        .dieDot {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 25%;
                left: 75%;
            }
            &:nth-child(3) {
                top: 75%;
                left: 25%;
            }
            &:nth-child(4) {
                top: 75%;
                left: 75%;
            }
            &:nth-child(5) {
                top: 50%;
                left: 50%;
            }
        }
    }
    &.sixDots {
        //background-color: purple;
        .dieDot {
            border-radius: 50%;
            height: 20px;
            width: 20px;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 50%;
                left: 25%;
            }
            &:nth-child(3) {
                top: 75%;
                left: 25%;
            }
            &:nth-child(4) {
                top: 25%;
                left: 75%;
            }
            &:nth-child(5) {
                top: 50%;
                left: 75%;
            }
            &:nth-child(6) {
                top: 75%;
                left: 75%;
            }
        }
    }
}
.dieDot {
    background-color: $black;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
}
.hidden {
    display: none;
}