
.dieOne {
    transition: transform .4s;
}
.dieTwo {
    transition: transform .3s;
}
.dieThree {
    transition: transform .45s;
}

.dieOne, .dieTwo, .dieThree {
    position: relative;
    display: block;
    border-radius: 10px;
    //top: 50%;
    //left: 50%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    /*background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 35%, rgba(255,255,255,1) 100%);    */
    transform-style: preserve-3d;
    
    transform: translateZ(-50px);
    margin: auto;
    .sideOne,
    .sideTwo,
    .sideThree,
    .sideFour,
    .sideFive,
    .sideSix {
        background: rgb(255,255,255);
        background: $diecolor;    
        border: 1px solid $lightgrey; 
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    &.show-front {
        transform: translateZ(-50px) rotateY( 0deg);
    }
    &.show-right {
        transform: translateZ(-50px) rotateY(-90deg);
    }
    &.show-back {
        transform: translateZ(-50px) rotateY(-180deg);
    }
    &.show-left {
        transform: translateZ(-50px) rotateY(90deg); 
    }
    &.show-top {
        transform: translateZ(-50px) rotateX(-90deg);
    }
    &.show-bottom {
        transform: translateZ(-50px) rotateX(90deg); 
    }

    .front {
        transform: rotateY(0deg) translateZ(50px);
    }
    .right {
        transform: rotateY(90deg) translateZ(50px);
    }
    .back {
        transform: rotateY(180deg) translateZ(50px);
    }
    .left {
        transform: rotateY(-90deg) translateZ(50px);
    }
    .top {
        transform: rotateX(90deg) translateZ(50px);
    }
    .bottom {
        transform: rotateX(-90deg) translateZ(50px);
    }
    .sideOne {
        .dieDot {
            border-radius: 50%;
            top: 50%;
            left: 50%;
        }
    }
    .sideTwo {
        //background-color: blue;
        .dieDot {
            border-radius: 50%;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 75%;
                left: 75%;
            }
        }
    }
    .sideThree {
        .dieDot {
            border-radius: 50%;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 50%;
                left: 50%;
            }
            &:nth-child(3) {
                top: 75%;
                left: 75%;
            }
        }
    }
    .sideFour {
        //background-color: purple;
        .dieDot {
            border-radius: 50%;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 25%;
                left: 75%;
            }
            &:nth-child(3) {
                top: 75%;
                left: 25%;
            }
            &:nth-child(4) {
                top: 75%;
                left: 75%;
            }
        }
    }
    .sideFive {
        //background-color: purple;
        .dieDot {
            border-radius: 50%;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 25%;
                left: 75%;
            }
            &:nth-child(3) {
                top: 75%;
                left: 25%;
            }
            &:nth-child(4) {
                top: 75%;
                left: 75%;
            }
            &:nth-child(5) {
                top: 50%;
                left: 50%;
            }
        }
    }
    .sideSix {
        //background-color: purple;
        .dieDot {
            border-radius: 50%;
            &:nth-child(1) {
                top: 25%;
                left: 25%;
            }
            &:nth-child(2) {
                top: 50%;
                left: 25%;
            }
            &:nth-child(3) {
                top: 75%;
                left: 25%;
            }
            &:nth-child(4) {
                top: 25%;
                left: 75%;
            }
            &:nth-child(5) {
                top: 50%;
                left: 75%;
            }
            &:nth-child(6) {
                top: 75%;
                left: 75%;
            }
        }
    }
}
.dieDot {
    background-color: $black;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
}
.hidden {
    display: none;
}