.gameBoard {
    background: rgb(0, 30, 0);
    background: linear-gradient(transparent, rgb(0, 30, 0)), url('../img/vecteezy_felt-dark-green-soft-rough-textile-material-background_15234513_921.jpg') center / cover no-repeat;
    position: relative;
    height: 85vh;
    width: 100vw;
    perspective: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}