.gameBoard {
    position: relative;
    height: 100vh;
    width: 100vw;
    perspective: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*.rollZone1, .rollZone2, .rollZone3, .rollZone4, .rollZone5, .rollZone6 {
        padding: 20px;
        min-width: 200px;
        &.hidden {
            display: none;
        }
    }*/
}