body {
    background-color: darkgreen;
    background-image: url('../img/vecteezy_felt-dark-green-soft-rough-textile-material-background_15234513_921.jpg');
    background-position: center center;
    background-size: cover;
}

.diceSelectorDiv {
    color: white;
    font-size: 1.5em;
    margin: 10px auto;
    label {
        display: block;
    }
}

button {
    font-size: 2em;
    cursor: pointer;
    &.roll {
        color: white;
        border-radius: 50%;
        box-shadow: 0 0 10px -2px rgba(0,0,0,0.8);
        border: 5px solid black;
        height: 100px;
        width: 100px;
        background: rgb(253,29,29);
        background: radial-gradient(circle, rgba(253,29,29,1) 0%, rgba(152,41,41,1) 32%, rgba(0,0,0,1) 100%);
        transition: all .3s ease-in-out;
        
        /*position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);*/
        /*&:hover {
            background: rgb(253,29,29);
            background: radial-gradient(circle, rgba(253,29,29,1) 22%, rgba(152,41,41,1) 61%, rgba(0,0,0,1) 100%);
            transition: all .3s ease-in-out;
            transform: translate(-50%, -50%) scale(1.2);
        }*/
    }
}
.buttonScoreZone {
    grid-area: 2 / 1 / 3 / 7;
    background: linear-gradient(153deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 81%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);
    /*width: 300px;
    height: 25vh;*/
    text-align: center;
    position: relative;
    padding: 50px;
}
.totalRollDesc {
    font-family: 'Caveat', cursive;
    font-size: 1.6em;
    color: white;
    margin: 10px auto;
    width: 100%;
}
.totalRoll {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: block;
    font-size: 3em;
    margin: 10px auto;
    width: 100%;
}