body {
    background: rgb(0, 30, 0);
}

.diceSelectorDiv {
    color: white;
    font-size: 1.5em;
    margin: 10px auto;

    label {
        display: block;
    }
}


.buttonScoreZone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: linear-gradient(153deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 81%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .diceSelectorDiv {
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
        color: white;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 26px;
            display: inline-block;
        }

        .addDie,
        .removeDie {
            border: 1px solid white;
            display: inline-flex;
            align-items: stretch;
            width: 25px;
            height: 25px;
            cursor: pointer;
            border-radius: 50%;
            justify-content: center;
            display: inline-block;
            position: relative;
            margin: 0 0 0 10px;
        }

        .addDiePlus,
        .removeDieMinus {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }
    }

    .buttonContainer {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        text-align: center;
        justify-content: center;

        button {
            position: fixed;
            bottom: 0;
            width: 80px;
            height: 80px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 255, 0, 0.65);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 2px solid rgb(0, 128, 53);
            border-radius: 50%;
            padding: 10px;
            letter-spacing: 1px;
            text-decoration: none;
            overflow: hidden;
            color: #fff;
            font-weight: 400px;
            z-index: 1;
            transition: 0.5s;
            backdrop-filter: blur(15px);
            cursor: pointer;
            font-size: 2em;
            font-family: 'Montserrat', sans-serif;

            &:hover {
                letter-spacing: 3px;

                &::before {
                    transform: skewX(45deg) translateX(50px);
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background: linear-gradient(to left, rgba(0, 255, 0, 0.15), transparent);
                transform: skewX(45deg) translate(0);
                transition: 0.5s;
                filter: blur(0px);
            }
        }
    }

    .rollTotalDiv {
        font-family: 'Montserrat', sans-serif;
        grid-area: 1 / 3 / 2 / 4;
        text-align: right;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .totalRollDesc {
            .totalRoll {
                font-weight: bold;
            }
        }
    }
}